/*-- scss:uses --*/
    
/*-- scss:functions --*/

/*-- scss:defaults -- (Bootstrap) Variables --*/
$input-bg: $brand-ivory-shade-2;

/* -- scss:mixins --*/

/*-- scss:rules -- Typical CSS Rules --*/


